/* ----------------colors for reference----------------------------------- */

#top-nav {
  background-color: hotpink;
}

#box1-container {
  background-color: rgb(71, 70, 70);
}

#box3-container,
#card-dec {
  background-color: rgb(71, 70, 70);
}

#box4-container {
  border: 1px black solid;
}

#col2 {
  /* border: 2px black solid; */
}

#box1-container {
  border: 1px black solid;
}

#container3-row1,
#container3-row2,
#container2-row1 {
  border: 1px black solid;
}

.span12 {
  border: 1px black solid;
}

#box2-container {
  border: 5px red solid;
}

#box4-container #submit {
  border: 1px black solid;
}

/* ----------------clip-path----------------------------------- */

.clip-me {
  width: 200px;
  clip-path: circle(40% at 50% 50%);
}

/* ----------------footer----------------------------------- */

footer {
  height: 20vh;
  background-color: rgb(85, 84, 84);
}

/* ----------------nav----------------------------------- */

.navbar-toggler {
  /* background-color: hotpink; */
}

/* ----------------logos----------------------------------- */

.img-logo {
  width: 100px;
}

/* ----------------font----------------------------------- */

.title-cat {
  color: rgb(0, 0, 253);
  font-weight: bolder;
}

#col2 p {
  font-size: 12px;
  color: white;
}

#col2 h2 {
  color: white;
}

.card-text {
  font-size: 10px;
}

#subscribe p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
}

/* ----------------form----------------------------------- */

#box-container #submit {
  border: 1px black solid;
}
